@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #112D4E;
}

.content1{
    position: relative;
    margin-top: 70px;
    margin-left: 50px;
}

.content1 h1{
    width: 90%;
    color: #3F72AF;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.content1 h4, .table3-content h4 {
    width: 90%;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.summary-content{
    width: 90%;
    padding-top: 20px;
    line-height: 23px;
    font-size: 16px;
    text-align: justify;
}

.main-tabs{
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
}

.tab1-content{
    margin-top: 10px;
}

.db_icon{
    float: left;
    margin-top: 25px;
}

.info_icon{
    float: left;
    margin-top: 28px;
}

.date_icon{
    float: left;
    margin-top: 25px;
}

.world_icon{
    float: left;
    margin-top: 28px;
}

.lock_icon{
    float: left;
    margin-top: 28px;
}

.tab1-content h5{
    color: #333333;
    padding: 25px 0 5px 0;
    margin-left: 60px;
}

.tab1-content p{
    margin-left: 60px;
    padding: 2px 0 2px 0;
    font-family: 'Ubuntu', sans-serif;
}

.table2-content, .table3-content{
    width: 87%;
    margin-top: 10px;
}

.acc_control_block, .acc_control_wellhead{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

}

.content2{
    position: relative;
    margin-left: 5%;
}

.drawer-class{
    overflow-y: auto;
}

.drawer-class::-webkit-scrollbar {
    width: 8px;
    position: fixed;
    right: 20px;
    top: 20px;
    bottom: 20px;
  }
  
.drawer-class::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

.map-main{
    z-index: 0;
    width: 1787px;
    height: 965px;
    margin-left:20px;

    mask-image: linear-gradient(#000, rgba(0,0,0,-2));
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,-2));
}

.icon-button-2{
    margin-top: 450px;
}